<nav>
    <ul>
        {% if page.title == "blog" %}
        <li id="active">Blog</li>
        {% else %}
        <li><a href="/blog">Blog</a></li>
        {% endif %}
        {% for sub in site.pages %}
        {% if sub.inIndex %}
        {% if sub.title == page.title %}
        <li id="active">
            {{ sub.title }}
        </li>
        {% else %}
        <li>
            <a href="{{ sub.url }}">{{ sub.title }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <li>
            <a href="https://github.com/maxxor42">Github page</a>
        </li>
    </ul>
</nav>
