{% for post in paginator.posts %}
    <div class="postExc">
        <h3>
            {{ post.title }}
        </h3>

        {% include postlistmargin.html %}

        {{ post.excerpt }}

        <a href="{{ post.url }}" class="read-all">Read the whole post</a></div>
{% endfor %}

{% if paginator.next_page %}
<a href="{{ paginator.next_page_path }}" class="read-all">Later posts</a>
{% endif %}

{% if paginator.previous_page %}
<a href="{{ paginator.previous_page_path }}" class="read-all">Earlier posts</a>
{% endif %}
