{% for post in site.posts %}
    <div class="postExc">
        <h3>
            {{ post.title }}
        </h3>
        <div class="post-date">
            <p>
                {{ post.date | date: "%-d %b %Y" | upcase }}
            </p>
        </div>
        {% if post.categories %}
            <ul class="categories">
                {% for category in post.categories %}
                    <li><a href="">{{ category | upcase }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
            {{ post.excerpt }}
            <a href="{{ post.url }}" class="read-all">Läs hela bloggposten</a></div>
{% endfor %}
