body, #wrapper, div, header, main, footer, img, nav, ul, li {
  padding: 0;
  margin: 0;
}

header, footer, main, h1 {
  display: block;
}

body {
  background-color: $body-background;
  font: $fonts;
  padding: 0 $small-margin;
  @include responsive($break-point-small) {
    padding: 0;
  }
}

#big-header {
  margin-top: $small-margin;

  h1 {
    @include big-border;
    display: block;
    font-weight: normal;
  }
}

#margin-header {
  h1 {
    text-align: right;
    @include margin-text;
  }
}

p, h2, h3 {
  @include p-content;
  font-weight: normal;
  font-size: 1em;
}

h3 {
  padding-top: 1em;
  color: $inline-header-text;

}

img {
  float: right;
  width: 50% - $small-margin * 3;
  margin: 0 0 $small-margin $small-margin;
  padding: $small-margin;
  border: $border;

  @include responsive($break-point-small) {
      float: none;
      width: 100% - $small-margin * 2;
      margin: 0;
    }
  }

a, a:visited, a:active {
  color: $link-color;
}

a:hover {
  color: $link-hover;
  text-decoration: none;
  border-color: $link-hover;
}

#wrapper {
  background-color: $wrapper-background;
  max-width: $wrapper-width;
  width: 100%;
  margin: 0 auto;
}


#big-header {
  padding: $margin 0;
  background-color: $header-background;
}

#margin-header {
  text-align: right;
  right: $inner-padding;

  h1 {
    padding: 1% 0;
    color: $margin-text-color;
    font-size: $small-text;
    font-style: normal;

    a, a:visited, a:active {
      @include margin-link;
    }

    a:hover {
      @include margin-link-hover;
    }
  }
}

nav {
  text-align: center;
  width: 100%;

  ul li {
    display: inline;
    margin: 0 $inner-padding;

    a, a:visited, a:active {
      font-size: 1em;
      text-decoration: underline;
      color: $link-color;
    }

    a:hover {
      @include link-goes-big;
      padding: $small-margin;

      @include responsive($break-point-mobile) {
        @include link-goes-big-mobile;
      }
    }
  }

  #active {
    @include link-goes-big;
    font-size: 2.5em;
    background-color: $header-background;
    padding: $small-margin;
  }
}

footer {
  bottom: -0;
  right: $inner-padding;
  text-align: right;
  color: $margin-text-color;
  width: 100%;

  p {
    margin: 0;
    padding: 1% 0;
    @include margin-text;
  }

  a, a:active, a:visited {
    @include margin-link;
  }

  a:hover {
    @include margin-link-hover;
  }
}

