
.post {
  h2 {
    @include big-border;
    clear: both;
  }

  #big-border-background {
    background-color: $header-background;
    padding: $margin * 2 0;
    margin-bottom: 1em;
  }

  h3 {
  }
}

.read-all, .read-all:visited {
  @include big-border-link;
}

.read-all:hover, .read-all:active {
  @include link-goes-big;

  @include responsive($break-point-mobile) {
    font-size: 1em;
  }
}

.post-date {
  border-right: $border;
  float: left;
  text-align: right;
  margin: 0 $small-margin 0 0;
  padding: 0 $small-margin 0 0;
  width: $margin * 2 - $small-margin * 2;
  @include margin-text;

  @include responsive($break-point-small) {
    float: none;
    width: auto;
    margin-left: $margin;
    padding-left: $margin;
    border-right: 0;
    border-left: $border;
    text-align: left;

  }
}

.categories {
  float: right;
  border-left: $border;
  padding: 0 0 0 $small-margin;
  margin: 0 0 0 $small-margin;
  list-style-type: none;
  width: $margin * 2 - $small-margin * 2;
  @include margin-text;

  @include responsive($break-point-small) {
    float: none;
    display: inline;
    width: auto;
    margin-left: $margin;
    padding-left: $margin;

    li {
      display: inline;
    }
  }

  a, a:visited, a:active {
    @include margin-link;
  }

  a:hover {
    @include margin-link-hover;
  }

}
